{{> header}}

<main class="estatic-zoom">
    <section class="big-center separete flex-center">

        <div class="center-left">
           
            <div class="flex-center big-box">
                {{#each games}}
                <a href="/game/{{_id}}" class="block capa">
                    <img src="{{img}}">
                    <div class="legenda">
                        <h4> {{tittle}}</h4>
                        <p>Tipo: {{type}}</p>
                        <p>Língua: {{lingue}} </p>
                    </div>
                </a>
                {{/each}}

            </div>

             <div class="div-paginate flex-center">
                <div id="pagination"  data-pageFinal="{{totalPages}}">
                    <a href="#">&laquo;</a>
                    <a href="#">&raquo;</a>
                </div>

            </div>
        </div>

        <div class="center-right">
            <img src="/img/logo.png">
        </div>

    </section>
</main>
<div class="banner estatic-zoom separete">
    <img src="/img/banner.jpg">
</div>

{{> footer}}