{{> header}}

<main class="estatic-zoom">
    <section class="big-center separete flex-center">

        <div class="center-left">
            <h1 class="capitalize">{{#if desc}}{{desc}}{{else}}Mais recentes:{{/if}}</h1>

            <div class="flex-center games-container">
                {{#each games}}
                <a href="/game/{{gameURL}}">
                    <figure>
                        <figure>
                            <img src="{{imgs.cover.imgURL}}" alt="Trulli" style="width:100%">
                            <figcaption>
                                <h2 title="{{tittle}}"> {{tittle}}</h2>
                                <p>{{type}}</p>
                                <p class="swap-platform-icon">{{language}} | <i class="fab "></i>
                                    <span>{{platform}}</span>
                                </p>
                            </figcaption>
                        </figure>
                    </figure>
                </a>
                {{/each}}

            </div>
            <div class="div-paginate flex-center">
                <div id="pagination" data-pageFinal="{{totalPages}}">
                    <a href="#">&laquo;</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>

        <div class="center-right">
            <img src="/img/main/logo.png" alt="h-natsu">
        </div>

    </section>
</main>

<div class="banner estatic-zoom separete">
    <img src="/img/main/banner.jpg" alt="h-natsu">
</div>
            
{{> footer}}