<main class="estatic-zoom">
    <section class="big-center separete flex-center">

        <div class="center-left">
            <div class="div-paginate flex-center">
                <div class="pagination">
                    <a href="#" class="active">&laquo;</a>
                    <a href="/page/1">1</a>
                    <a href="/page/2">2</a>
                    <a href="/page/3">3</a>
                    <a href="/page/4">4</a>
                    <a href="/page/5">5</a>
                    <a href="/page/6">6</a>
                    <a href="#">&raquo;</a>
                </div>

            </div>
            <div class="flex-center big-box">
                {{#each hgames}}
                <a href="/games/{{_id}}" class="block capa">
                    <img src="{{img}}">
                    <div class="legenda">
                        <h4> {{tittle}}</h4>
                        <p>Tipo: {{type}}</p>
                        <p>Língua: {{lingue}} </p>
                    </div>
                </a>
                {{/each}}

            </div>

            <div class="div-paginate flex-center">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#">...</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">...</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>

            </div>
        </div>

        <div class="center-right">
            <img src="/img/logo.png">
        </div>

    </section>
</main>
<div class="banner estatic-zoom separete">
    <img src="/img/banner.jpg">
</div>