<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<section class="estatic-zoom flex-center">
  <div class="form-container">
    <a href="/" class="logo">H-Natsu</a>
    <h2>SIGNUP</h2>
    <form method="POST"  autocomplete="chrome-off">
      <br>
      <label for="username">Username: <br><span class="form-vali">{{#if errors.username}}{{errors.username}}{{/if}}</span></label>
      <input type="text" name="username" placeholder="username" value="{{username}}" required>
      <label for="email">Email: <br><span class="form-vali">{{#if errors.email}}{{errors.email}}{{/if}}</span></label>
      <input type="email" name="email" placeholder="email" value="{{email}}" required>
      <label for="password">Senha: <br><span class="form-vali">{{#if errors.password}}{{errors.password}}{{/if}}</span></label>
      <input type="password" id="VZbKZHXtqzx" minlength="6" placeholder="password" name="password" value="{{password}}"
        required>
      <label for="birthday">Data de Nascimento: <br><span class="form-vali">{{#if errors.birthday}}{{errors.birthday}}{{/if}}</span></label>
      <input type="date" name="birthday" value="{{birthday}}" required>
      <span class="form-vali">{{#if recaptcha_error}}{{recaptcha_error}}{{/if}}</span>
      <div class="g-recaptcha" data-sitekey="6Lf1poAaAAAAABty3wxkBKC5syLlFXjLdtYE2HFk" ></div>
      <input type="submit" value="INSCREVER-SE">
    </form>
    <div class="nav-hsl">
      <a href="/"><i class="fas fa-arrow-left"></i> home</a><a href="/login">login <i
          class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</section>
</section>