<section class="estatic-zoom max-window flex-center">
  <div class="form-container">
  <h2>SIGNUP</h2>
    <form method="POST">
      <br>
      <label for="fname">Username: <br><span class="form-vali" >{{errors.[0]}}</span></label>
      <input type="text" name="username" placeholder="username" value="{{username}}"required>
      <label for="fname">Email: <br><span class="form-vali" >{{errors.[1]}}</span></label>
      <input type="email" name="email" placeholder="email" value="{{email}}" required>
      <label for="lname">Senha: <br><span class="form-vali" >{{errors.[2]}}</span></label>
      <input type="password" id="VZbKZHXtqzx" minlength="6" placeholder="password"  name="password" value="{{password}}" required>
      <label for="lname">Data de Nascimento: <br><span class="form-vali" >{{errors.[3]}}</span></label> 
      <input type="date" name="birthday" value="{{birthday}}" required>
      <input type="submit" value="Submit">
    </form>
  </div>
</section>
</section>